# Insert

In [18]:
import pandas as pd

var = pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]})
var

var.insert(2,"C",[10,11,12,13,14])   # Here we inserted new the data using list into C var
var

# We can copy the data of one variable into another like 

var.insert(3,"D",var["C"])  # Here we inserted the data of c into the variable D on 3rd location
var

   A  B   C   D
0  1  5  10  10
1  2  6  11  11
2  3  7  12  12
3  4  8  13  13
4  5  9  14  14

In [37]:
# Also we can add the required data we want

var["E"] = var["A"][:3]   # Here we created the new column E and added the data of A from 0 to index no 3
var

   A  B   C    G    I   D    F    E
0  1  5  10  1.0  1.0  10  1.0  1.0
1  2  6  11  2.0  2.0  11  2.0  2.0
2  3  7  12  3.0  3.0  12  3.0  3.0
3  4  8  13  NaN  NaN  13  NaN  NaN
4  5  9  14  NaN  NaN  14  NaN  NaN

# Delete

In [55]:
# We will use the same data of var to delete the data

var5 = var.pop("C")  # Here we have to pass the varible key to delete the particular data

# We can also use thr "del" keyword to delete the data

var

KeyError: 'C'